<div class="container container-mod">
  <div class="panel panel-default">
    <div class="panel-heading">
      Add a new Event
    </div>

    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
