
<section class="container events_section">

    <div class="row">

      <div class="col-xs-12">
        <h2>Latest events</h2>
        <p>These are the latest events</p>
      </div>
    </div>

  <% 5.times do %>
    <article class="event col-xs-12 col-sm-4">
      <h3>evento</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <p><a class="btn btn-primary btn-md" href="#" role="button">Learn more</a></p>
    </article>
  <% end %>

</section>
