
<section class="container events_section">

    <div class="row">

      <div class="col-xs-12">
        <h2>Latest events</h2>
        <p>These are the latest events</p>
      </div>
    </div>

  <% @events.each do |event| %>
    <article class="event col-xs-12 col-sm-4">
      <h3><%= event.name %></h3>
      <%= image_tag event.photo %>
      <p><%= event.description %></p>

      <%= link_to "See event", event_path(event), class: "btn btn-primary btn-md" %>
    </article>
  <% end %>

</section>
