
<section class="container events_section">

    <div class="row">

      <div class="col-xs-12">
        <h2>Latest events</h2>
        <p>These are the latest events</p>
      </div>
    </div>

  <% @events.each do |event| %>
    <article class="event col-xs-12 col-sm-4">
      <h3><%= event.name %></h3>
      <p><%= event.description %></p>
      <p><a class="btn btn-primary btn-md" href="#" role="button">Learn more</a></p>
    </article>
  <% end %>

</section>
