<div class="upper_section">
  <div class="jumbotron bg container">
    <h1>Codaisseur</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
    <p><a class="btn btn-primary btn-md" href="#" role="button">Learn more</a></p>
  </div>
</div>
